@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --clr-main-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-price: hsl(178, 100%, 50%);
  --clr-icon: hsl(178, 100%, 50%, 0.5);
  --clr-text: hsl(215, 51%, 70%);
  --clr-highlight: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-main-bg);
  font-size: 1.125rem;
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 340px;
  padding: 20px;
  background-color: var(--clr-card-bg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
  position: relative;
}
.overlay-effect {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--clr-icon);
  border-radius: 8px;
  cursor: pointer;
}

.eq-image {
  border-radius: 8px;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.card-text {
  margin-top: 1em;
}

.card-text a {
  text-decoration: none;
  font-size: 18px;
  color: var(--clr-highlight);
  font-weight: 700;
}

p {
  color: var(--clr-text);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 15px;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--clr-text);
  font-size: 15px;
  margin-bottom: 0.5em;
}

.item-1 {
  color: var(--clr-price);
  font-weight: 400;
}

.card-icon {
  margin-right: 5px;
  margin-bottom: -2px;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--clr-line);
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar img {
  margin-right: 10px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  border: 2px solid white;
}

.avatar p a {
  text-decoration: none;
  color: var(--clr-highlight);
}

.card a:hover {
  color: var(--clr-price);
}

.card-img:hover .overlay-effect {
  opacity: 0.8;
}

.card-text a:hover,
.avatar p a:hover {
  color: var(--clr-price);
}
